{% extends "base/base.html"%}
{% block before_css%}
{{block.super}}
{%endblock%}
{% block basepage%}

<div id="header">
    <span>足球赛事管理系统</span>
</div>

{% include "base/_usernav.html" %}

<div id="check_mymessage" class="modal hide fade" modal-size-width="0.618"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<div id="sidebar">
    <a href="#" class="visible-phone">Dashboard</a>
    <ul>
        <li class="{% block HOME_ACTIVE %}{% endblock %}">
            <a href="/home"><span>首页</span></a>
        </li>
        <li class="{% block EVENT_ACTICVE %}{% endblock %}">
            <a href="/event"><span>赛事管理</span></a>
        </li>
        <li class="{% block TEAM_ACTICVE %}{% endblock %}">
            <a href="/team"><span>球队管理</span></a>
        </li>
        <li class="{% block RESULT_ACTICVE %}{% endblock %}">
            <a href="/result"><span>结果录入</span></a>
        </li>
        <li class="{% block NOTICE %}{% endblock %}">
            <a href="/notice"><span>通知发布</span></a>
        </li>
    </ul>
</div>
<div id="content">
    {% block main_title %}{% endblock %}
    <div class="container-fluid container-full">
        {% block main_content %} {% endblock %}
    </div>
    {# Footer Section #}
    {% block home-footer %}
    {% endblock %}
</div>
{% endblock%}
