<div id="user-nav" class="navbar navbar-inverse">
	<ul class="nav btn-group">
	    <li class="btn btn-inverse" >
	    	<a href="javascript:void(0);">
	    		<span class="text">欢迎您！</span>
	    	</a>
	    </li>
		<li class="btn btn-inverse">
			<a title="" href="/logout">
				<span class="text">登出</span>
			</a>
		</li>
	</ul>
</div>
<div class="modal hide fade" id="modal-userinfo-event" modal-size-width="0.25">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h2>用户信息</h2>
	</div>
	<div class="modal-body">
	    {% include "base/userinfoform.html" %}
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">取消</a>
		<a href="#" id="update-user" class="btn btn-primary" data-dismiss="modal">保存</a>
	</div>
</div>
