{% extends "home/widgets/base_new_content.html" %}
{% block title %}
每轮比赛成绩
{% endblock %}

{% block title-sub %}
round result
{% endblock %}

{% block news-list-items %}

<div class="round-match-score">
    {%for r, matches in rounds_matchs%}
        <div class="each-round">
            <center class="round-head">
                <span class="round-title">第{{forloop.counter}}轮</span>
            </center>
            <table class="matchs-list table">
                <tr>
                    <th class="span4">参赛队</th>
                    <th class="span4">比赛时间</th>
                    <th class="span4">结果</th>
                </tr>
                {% for match in matches %}
                    <tr>
                        <td class="span4">{{match.teamA}} vs {{match.teamB}}</td>
                        <td class="span4">{{match.date|date:"Y-m-d"}}</td>
                        <td class="span4">{{match.teamA_score}} : {{match.teamB_score}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {%endfor%}
</div>

{% endblock %}
