{% extends "home/widgets/base_new_content.html" %}
{% block title %}
积分榜
{% endblock %}

{% block title-sub %}
scoreboard
{% endblock %}

{% block news-list-items %}


<table class="table">
    {% for team, sumscore in sumscore_rank %}
        {% ifequal forloop.counter 1 %}
            <tr>
                <th>球队</th>
                <th>积分</th>
            </tr>
        {% endifequal %}
        <tr>
            <td>{{team.team_name}}</td>
            <td>{{sumscore}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
